/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
:root {
  --contour-color: #000000; 
  --fill-color: #FF0000;
  --core-color: #FFFFFF; 
  --main-body-color: #FFFFFF;
}

@keyframes heart-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.17);
  }
}

@keyframes sparks-opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.like-icon .core {
  fill: var(--core-color);
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  fill: var(--main-body-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: #000000;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: #000000; 
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s 0.3s ease-in alternate;
}

.like-icon:not(.is-liked) .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.card__like-button .button__text {
  transition: transform 0.5s ease-in-out;
}

.like-icon.is-liked ~ .card__like-button .button__text {
  animation: button-text-shift 0.5s ease-in-out;
}

@keyframes button-text-shift {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.card__icon-button:hover .like-icon {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

.card__icon-button:focus,
.card__like-button:focus {
  outline: none;
}

.card__icon-button:focus-visible,
.card__like-button:focus-visible {
  outline: 2px solid #000;
  outline-offset: 2px;
}
